@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="views">
    <div id="view-div">
        <h5 class="pr-1 text-white mb-0 views-num-top" id="ViewersTopValue"></h5>
        <h5 class="pr-1 text-white mb-0 views-num-bottom" id="ViewersBottomValue"></h5>
        <h5 class="pr-1 text-white mb-0 views-num-extender" id="ViewersHideValue"></h5>
    </div>
    <p class="mb-0 pr-2"> viewers</p>
</div>

@section scripts{

}